extends layout

block head
  script
    var socket = io.connect();
    var bench = "#{bench}";
    var tests = !{JSON.stringify(tests)};
    var gitLink = "https://github.com/tessel/v2-firmware/tree/";
    socket.on('new_device', function (device) {
      // check if this is the right bench
      console.log("Got some data: ", device);
      if (device.bench != bench) return;
      // otherwise insert a new row
      // var tbl = $("#device_table");   
      var tblRow = $('<tr>');
      tblRow
        .append($('<td>').text(device.time))
        .append($('<td>').text(device.rig))
        .append($('<td>')
          .append($('<a>').attr('href', "/d/"+device.id+"/logs").text(device.id))
        )
        .append($('<td>')
          .append($('<a>').attr('href', gitLink+device.build).text(device.build))
        );
      // append for each test
      for (i in tests){
        tblRow.append($('<td>').addClass("test").text(device[tests[i]]));
      }
      $("#device_table").prepend(tblRow);
    }); 
    socket.on('device_update', function (data) {
      console.log("got device update", data, data.id+"-"+data.test);
      var test = $('#'+data.id+"-"+data.test);
      test.html(data.status);
      // change the status
      passFail(test);
    });
    $(function(){
      $(".test").each(function(e){
        passFail($(this));
      });
    });

block content
  .row
    h2 #{bench} | Programming bench 
    p #{success} successful, #{devices.length} total
  a(href="/b/#{bench}/logs") Logs
  h3 Devices programmed
  #tessels
    table
      thead
        tr
          th Time
          th Rig
          th Device ID
          th Build
          each test in tests
            th #{test}
      tbody(id="device_table")
        each device in devices
          tr
            td=device.time
            td
              a(href="/r/#{device.rig}")
                =device.rig
            td
              a(href="/d/#{device.id}/logs")
                =device.id
            td
              a(href="https://github.com/tessel/v2-firmware/tree/#{device.firmware}")
                =device.firmware
            each test in tests
              td.test(id="#{device.id}-#{test}")
                | #{device[test]}

