extends layout

block content
  .row
    h2 #{id} | Device

  table
      thead
        tr
          th Time
          th Build
          th Rig
          each test in tests
            th #{test}
      tbody
        tr
          td=device.built
          td
            a(href="https://github.com/technicalmachine/ScriptStick/tree/#{device.firmware}")
              =device.firmware
          each test in tests
            td=device[test]

  h2 Logs
  #{logs}

