extends layout

block content
  .row
    h2 #{id} | Device

  table
      thead
        tr
          th Time
          th Build
          th TI Firmware
          th ADC test
          th SPI test
          th I2C test
          th GPIOs test
          th External Power test
          th OTP
          th WiFi test
      tbody
        tr
          td=device.built
          td
            a(href="https://github.com/technicalmachine/ScriptStick/tree/#{device.firmware}")
              =device.firmware
          td=device.tiFirmware
          td=device.adc
          td=device.sck
          td=device.i2c
          td=device.pin
          td=device.extPower
          td=device.otp
          td=device.wifi

  h2 Logs
  #{logs}

