extends layout

block head
  script
    var socket = io.connect();
    socket.on('bench_heartbeat', function (bench) {
        console.log("Got some data: ", bench);
        // find bench by id, update all the data
        // $('#'+bench.name+'')
        var name = bench.name;
        Object.keys(bench).forEach(function(key){
          // console.log("key ", key);
          // if this is a link update the last part before the '/'
          var obj = $('#'+name+'-'+key);
          // console.log('looking for obj '+ '#'+name+'-'+key);
          if (obj.is('a')){
            var url = obj.attr('href');
            url = url.substring(0, url.lastIndexOf('/')+1)+bench[key];
            obj.attr('href', url);
          }
          // update the inner text
          if (key=='heartbeat'){
            obj.text(formatDate(bench[key]));
          } else {
            obj.text(formatDate(bench[key]));
          }
        });
    }); 
    

block content
  .row
    h2 Programming benches

  #benches
    table
      thead
        tr
          th Device
          th Last online
          th build
          th Device Build
          th ip
          th gateway
          th ssh
          th port
      tbody
        each bench in benches
          tr
            td
              a(href="/b/#{bench.name}", id="#{bench.name}-name")
                =bench.name
            td(id="#{bench.name}-heartbeat")
              =formatDate(bench.heartbeat)
            th
              a(href='https://github.com/technicalmachine/ScriptStick/tree/#{bench.deviceBuild}', id="#{bench.name}-deviceBuild")
                =formatBuild(bench.deviceBuild)
            td
              a(href='https://github.com/technicalmachine/testalator-device/commit/#{bench.build}', id="#{bench.name}-build")
                =formatBuild(bench.build)
            td(id="#{bench.name}-ip")
              =bench.ip
            td(id="#{bench.name}-gateway")
              =bench.gateway
            td
              =bench.ssh
            td
              =bench.port
