extends layout

block head
  script
    $(function() {
      var logs = $("#logs");
      logs.scrollTop(logs[0].scrollHeight);
      socket.on('log_update_#{id}', function (data) {
        console.log("got data", data);
        var newDiv = $("<div>").html(data);
        logs.append(newDiv);
        logs.scrollTop(logs[0].scrollHeight);
        // highlightYellow(newDiv);
      });
      socket.on('device_update_#{id}', function (data) {
        console.log("got device update", data);
        var test = $("#{id}-"+data.test);
        test.html(data.status);
        // change the status
        passFail(test);
      });
      $(".test").each(function(e){
        passFail($(this));
      });
    });

block content
  .row
    h2 #{id} | #{type}

  if type == "Device"
    table
      thead
        tr
          th Time
          th Bench
          th Rig
          th Build
          each test in tests
            th #{test}
      tbody
        each device in devices
          tr(id="#{device.id}-#{device.bench}")
            td=device.time
            td
              a(href="/b/#{device.bench}")
                | #{device.bench}
            td
              a(href="/r/#{device.rig}")
                | #{device.rig}
            td
              a(href="https://github.com/tessel/v2-firmware/tree/#{device.build}")
              | #{device.build}
            each test in tests
              td.test(id="#{device}-#{test}")
                | #{device[test]}

  div(id="logs", style="height:500px; overflow-y:scroll; padding: 10px; background-color: rgb(54, 54, 54); color: whitesmoke;")
    if logs && logs.log
      each log in logs.log
        div
          =log
