extends layout

block head
  script
    var socket = io.connect();
    var id = "#{id}";
    var type = "#{type}";
    var tests = !{JSON.stringify(tests)};
    var gitLink = "https://github.com/tessel/v2-firmware/tree/";
    socket.on('new_device', function (device) {
      // check if this is the right bench
      if (DEBUG) console.log("new_device: ", device);
      
      if (device[type] != id) return;
      // otherwise insert a new row
      // var tbl = $("#device_table");  
      var formatted = formatDate(device.time); 
      var tblRow = $('<tr>');
      
      tblRow
        .append($('<td>').text(formatted))
        .append($('<td>').text(device.rig))
        .append($('<td>')
          .append($('<a>').attr('href', "/d/"+device.id+"/logs").text(device.id))
        )
        .append($('<td>')
          .append($('<a>').attr('href', gitLink+device.build).text(device.build))
        );
      // append for each test
      for (i in tests){
        tblRow.append($('<td>')
          .append($('<a>')
            .attr('id', device.id+'-'+tests[i])
            .attr('href', "/logs?device="+device.id+"&test="+tests[i])
            .addClass("test").text(device[tests[i]])
          )
        );
      }
      $("#device_table").prepend(tblRow);
      tblRow.find('.test').each(function(i, e){
        passFail($(e));
      })
    }); 
    socket.on('device_update', function (data) {
      if (DEBUG) console.log("device_update:", data, data.id+"-"+data.test);
      var test = $('#'+data.id+"-"+data.test);
      test.html(data.status);
      // change the status
      passFail(test);
    });

block content
  .row
    h2 #{id} | Programming #{type} 
    p #{success} successful, #{devices.length} total
  a(href="/#{type[0]}/#{id}/logs") Logs
  h3 Devices programmed
  #tessels
    table
      thead
        tr
          th Time
          if type == "bench"
            th Rig
          else
            th Host
          th Device ID
          th Build
          each test in tests
            th #{test}
      tbody(id="device_table")
        each device in devices
          tr
            td.time=device.time
            if type == "bench"
              td
                a(href="/r/#{device.rig}")
                  =device.rig
            else
              td
                a(href="/b/#{device.bench}/logs")
                  =device.bench
            td
              a(href="/d/#{device.id}/logs")
                =device.id
            td
              a(href="https://github.com/tessel/v2-firmware/tree/#{device.firmware}")
                =device.build
            each test in tests
              td
                a(id="#{device.id}-#{test}", href="/logs?device=#{device.id}&test=#{test}").test
                  | #{device[test]}
