extends layout

block head
  script
    $(function() {
      
      $(".build").each(function(item){
        var formatted = formatBuild($(this).html());
        $(this).html(formatted);
      });
      setInterval(function() {
        // go through all the ping times, if it hasn't pinged in 5 min, highlight it
        $(".time").each(function(item){
          if ( (new Date() - new Date($(this).html())) > (5 * 60 * 1000)){
            $(this).closest('tr').css('background-color', "red");
          }
        });
      }, 60000);
    });
    // on startup format dates
    socket.on('bench_heartbeat', function (bench) {
      if (DEBUG) console.log("bench_heartbeat: ", bench);
      // find bench by id, update all the data
      // $('#'+bench.name+'')
      var name = bench.id;
      Object.keys(bench).forEach(function(key){
        // if this is a link update the last part before the '/'
        var obj = $('#'+name+'-'+key);
        if (obj.is('a')){
          var url = obj.attr('href');
          url = url.substring(0, url.lastIndexOf('/')+1)+bench[key];
          obj.attr('href', url);
        }
        // update the inner text
        if (key=='time'){
          obj.text(formatDate(bench[key]));
        } else if (key =='build'){
          obj.text(formatBuild(bench[key]));
        }
      });
      // flash the change
      highlightYellow($("#"+name+"-id").closest('tr'));
    });
      


block content
  .row
    h2 Programming benches

  #benches
    table
      thead
        tr
          th Host
          th Rigs
          th Programmed
          th Last online
          th host build
          th firmware md5
          th ip
          th gateway
          th ssh
          th port
      tbody
        each bench in benches
          tr
            td
              a(href="/b/#{bench.id}", id="#{bench.id}-id")
                =bench.id
            td
              each rig in bench.rigs
                .div
                  a(href="/r/#{rig}") #{rig}
            td
              =bench.count
            td(id="#{bench.id}-time", class="time")
              =bench.time
            th
              a(href='https://github.com/tessel/t2-firmware/tree/#{bench.build}', 
                id="#{bench.id}-deviceBuild", class="build")
                =bench.build
            td(id="#{bench.id}-md5")
              =bench.md5
            td(id="#{bench.id}-ip")
              =bench.ip
            td(id="#{bench.id}-gateway")
              =bench.gateway
            td
              =bench.ssh
            td
              =bench.port
