extends layout

block head
  script
    $(function(){
      var STATUS_COLORS = {'In Progress': '#f08a24', 'Pass': '#43AC6A', 'Fail': '#f04124'};
      var TESTS = !{JSON.stringify(tests)};
      function switchStatus(text, ele) {
        $(ele.children('.statusText')[0]).html(text);
        ele.css('background-color', STATUS_COLORS[text] ? STATUS_COLORS[text] : '');
        
        // if status is a fail, then also display retry button
        if (text == 'Fail') {
          $(ele.children('.retry')[0]).show();
        } else {
          // do not display retry
          $(ele.children('.retry')[0]).hide();
        }
      }
      var socket = io.connect();
      socket.on('test', function(data){
        var testStatus = $('#'+data.rig+"-"+data.test+"-status");
        if (data.clear) {
          // reset all to untested
          $('.'+data.rig+'-status').each(function(i, ele){
            switchStatus("", $(ele));
          });
        }
        if (data.status == 1) {
          switchStatus('Pass', $('#'+data.rig+'-'+data.test+'-status'));
        } else if (data.status < 0) {
          switchStatus('Fail', $('#'+data.rig+'-'+data.test+'-status'));
        } else if (data.status == 0) {
          switchStatus('In Progress', $('#'+data.rig+'-'+data.test+'-status'));
        }
        $('.'+data.rig+"-deviceId").html(data.device);
      });
      socket.on('addRig', function(rig){
        var rigEle = $('<tr>')
          .append($('<td>').append($('<div>').addClass("button").attr("rig", rig.serialNumber).attr("test", "all").attr("id", rig.serialNumber+"-test-all").text('Test')))
          .append($('<td>').text(rig.serialNumber))
          .attr("id", rig.serialNumber)
          .append($('<td>').text(rig.build));
        TESTS.forEach(function(test){
          rigEle.append($('<td>').addClass("testingStatus "+rig.serialNumber+"-status").attr("id", rig.serialNumber+"-"+test+"-status")
            .append($("<div>").addClass("statusText"))
            .append($("<div>").addClass("button test retry").attr("rig", rig.serialNumber).attr("test", test).text("Test"))
          );
        });
        $('#tableBody').append(rigEle);
      });
      socket.on('removeRig', function(rig){
        // find the rig
        $('#'+rig.serialNumber).remove();
      });
      socket.on('done', function(data){
        // tests are finished
        // show test button
        $('#'+data.rig+'-test-all').removeClass('disabled');
      });
      $('.test').on('click', function(){
        var rigId = $(this).attr('rig');
        var testId = $(this).attr('test');
        socket.emit('retry', {rig: rigId, test: testId});
      });

    })

block content
  h3 #{name} | Host
  table
    thead
      tr
        th
        th Rig
        th Build
        th Device
        each test in tests
          th #{test}
    tbody#tableBody
        each rig in rigs
          tr(id="#{rig.serialNumber")
            td
              .button.test(rig="#{rig.serialNumber}", test="all", id="#{rig.serialNumber}-test-all") Test
            td 
              | #{rig.serialNumber} 
            td
              | #{rig.build}
            td
              | #{rig.device}
            each test in tests
              td.testingStatus(class="#{rig.serialNumber}-status", id="#{rig.serialNumber}-#{test}-status")
                .div.statusText
                .button.test.retry(rig="#{rig.serialNumber}", test="#{test}") Test
